language: android
jdk: oraclejdk8
sudo: required

android:
  components:
    - extra-android-m2repository
    - extra-android-support
    - extra-google-m2repository
    - platform-tools
    - tools
    - build-tools-25.0.3
    - android-26

env:
  global:
    - MALLOC_ARENA_MAX=2
    - GRADLE_OPTS="-XX:MaxPermSize=4g -Xmx4g"
    - ANDROID_SDKS=android-16
    - ANDROID_TARGET=android-16

before_install:
  # TODO: Remove the following line when Travis' platform-tools are updated to v24+
  - echo yes | android update sdk -a --filter platform-tools --no-ui --force

script:
  - ./gradlew build
