language: android
jdk: oraclejdk8

android:
  components:
    - extra-android-m2repository
    - extra-android-support
    - platform-tools
    - tools
    - build-tools-24.0.0
    - android-24

env:
  global:
    - MALLOC_ARENA_MAX=2
    - GRADLE_OPTS="-XX:MaxPermSize=4g -Xmx4g"
    - ANDROID_SDKS=android-14
    - ANDROID_TARGET=android-14

before_install:
  # TODO: Remove the following line when Travis' platform-tools are updated to v24+
  - echo yes | android update sdk -a --filter platform-tools --no-ui --force

script:
  - ./gradlew build
