<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Required for downloading images -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for adding media and requested at runtime -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Allows for storing and retrieving screenshots, photos, videos and audios -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/MainActivityTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Provider for exposing file URIs on Android 7+ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" >
            </meta-data>

        </provider>

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
        <!-- required for Android 11 (API level 30) or higher -->
        <package android:name="com.wordpress.aztec" />
    </queries>

</manifest>
